<!DOCTYPE html>
<html>

<head>
  <title>Kirja-arvostelut</title>
</head>

<body>
    <h1>Kirja-arvostelut</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_item">Uusi kirja-arvostelu</a>
    <a href="/find_item">Etsi kirja-arvostelu</a>
  </p>

  <h2>Viimeisimmät arvostelut</h2>

  <ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.book_name }} – {{ item.writer }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>