<!DOCTYPE html>
<html>

<head>
  <title>Uusi kirja-arvostelu</title>
</head>

<body>
  <h1>Uusi kirja-arvostelu</h1>
  <form action="/create_item" method="post">
    <p>
      Kirjan laji: <br />
      <input type="text" name="book_type" />
    </p>
    <p>
      Kirjan nimi: <br />
      <input type="text" name="book_name" />
    </p>
    <p>
      Kirjailija: <br />
      <input type="text" name="writer" />
    </p>
    <p>
      Arvostelu: <br />
      <textarea name="review" rows="20" cols="80"></textarea>
      </p>
    <p>
      Arvosana (1-5): <br />
      <input type="text" name="grade" size="4" />
      </p>  
    <input type="submit" value="Luo kirja-arvostelu" />
  </form>
</body>

</html>