<!DOCTYPE html>
<html>

<head>
  <title>{{ item.book_name }} - {{ item.writer }}</title>
</head>

<body>
  <h1>{{ item.book_name }} – {{ item.writer }}</h1>
  {% if session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    Kirjan laji: {{ item.book_type }}
  </p>
  <p>
    {{ item.review }}
  </p>
  <p>
    Arvostelija: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
  </p>
  <p>
    Arvosana (1 = huono, 5 = erinomainen): {{ item.grade }}
  </p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>